<div class="main">

    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <form [formGroup]="form" method="POST" id="signup-form" class="signup-form">
                    <h2 class="form-title">Create account</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" formControlName="firstName" name="firstName" id="firstName" placeholder="Your First Name"/>
                    </div>
                    <div *ngIf="submitted && f['firstName'].errors">
                        <div class="is-invalid" *ngIf="form.hasError('required', 'firstName')">First Name is required</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" formControlName="lastName" name="lastName" id="lastName" placeholder="Your Last Name"/>
                    </div>
                    <div *ngIf="submitted && f['lastName'].errors">
                        <div class="is-invalid" *ngIf="form.hasError('required', 'lastName')">Last Name is required</div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-input" formControlName="email" name="email" id="email" placeholder="Your Email"/>
                    </div>
                    <div *ngIf="submitted && f['email'].errors">
                        <div class="is-invalid" *ngIf="form.hasError('required', 'email')">Email is required</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" formControlName="password" name="password" id="password" placeholder="Password"/>
                        <span (click)="togglePassword()" #password class="zmdi zmdi-eye field-icon toggle-password">
                            <i id="toggle_button" class="fa fa-eye"></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && f['password'].errors">
                        <div class="is-invalid" *ngIf="form.hasError('required', 'password')">Password is required</div>
                        <div class="is-invalid" *ngIf="form.hasError('minLength', 'password')">Password min length is 6</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="Repeat your password"/>
                    </div>
                    <div *ngIf="submitted && f['confirmPassword'].errors">
                        <div class="is-invalid" *ngIf="form.hasError('notSame')">Password does not match</div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" formControlName="agreeTerm" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div *ngIf="submitted && f['agreeTerm'].errors">
                        <div *ngIf="form.hasError('required', 'agreeTerm')">Agreeing Terms is compulsory</div>
                    </div>
                    <div class="form-group">
                        <input (click)="onSubmit()" type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                    </div>

                </form>
                <p class="loginhere">
                    Have already an account ? <a routerLink="/auth/login" class="loginhere-link">Login here</a>
                </p>
            </div>
        </div>
    </section>

</div>