<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="row">
                <li>
                    <a href="#">
                        LOGO
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            <span>
                &copy;
                {{test | date: 'yyyy'}}, made with love by
                <a href="https://www.linkedin.com/in/mustafa-sinanovic-60979b255/"> sin-mus </a> for a better web.
            </span>
        </div>
    </div>
</footer>