<div class="container-xl px-4 mt-4">
    
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link ms-0" routerLink="/user/{{id}}/details" target="__blank">Profile</a>
        <a class="nav-link active" routerLink="/user/{{id}}/billing" target="__blank">Billing</a>
        <a class="nav-link" routerLink="/user/{{id}}/security" target="__blank">Security</a>
        <a class="nav-link" routerLink="/user/{{id}}/notifications"  target="__blank">Notifications</a>
    </nav>

    <router-outlet></router-outlet>

</div>
