<section class="uui-section_layout94">
  <div class="uui-page-padding">
    <div class="uui-container-large">
      <div class="uui-padding-vertical-xhuge">
        <div class="uui-layout94_component">
          <div class="uui-max-width-large">
            <h2 class="uui-heading-medium">Rates so low, you won’t think twice</h2>
            <div class="uui-space-xsmall"></div>
            <div class="uui-text-size-large"><span class="text-span">Enjoy your holidays with our wheels</span>
            </div>
            <div class="search-wrapper">
              <div class="form-block w-form">
                <form id="wf-form-Search-Form" name="wf-form-Search-Form" data-name="Search Form" method="get"
                  class="form"><input type="text" class="text-field w-input" maxlength="256" name="Search"
                    data-name="Search" placeholder="Search..." id="Search-2" required="" /><input type="submit"
                    value="Submit" data-wait="Please wait..." class="submit-button w-button" /></form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-layout-grid uui-layout94_list">
            <div id="w-node-_2bfe17f4-5e38-59a5-da46-7c87b8407ffb-7b1751b2" class="uui-layout94_item">
              <div class="image-wrapper">
                <div class="div-block-2">
                  <div class="text-block-6"><strong>100</strong><br />KM/day</div>
                </div><img
                  src="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg"
                  loading="lazy" sizes="(max-width: 479px) 67vw, (max-width: 991px) 250px, 25vw"
                  srcset="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new-p-500.jpg 500w, https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg 745w"
                  alt="" class="image-2" />
              </div>
              <div class="uui-layout94_item-content">
                <h3 class="uui-heading-xxsmall">Share team inboxes</h3>
                <div class="uui-space-xxsmall"></div>
                <div class="uui-text-size-medium">Whether you have a team of 2 or 200, our shared team inboxes keep
                  everyone on the same page and in the loop.</div>
              </div><a href="#" class="uui-button w-inline-block">
                <div>Details</div>
              </a>
            </div>
            <div id="w-node-_90ca6029-aa80-173f-a174-7a54e8bc09be-7b1751b2" class="uui-layout94_item">
              <div class="image-wrapper">
                <div class="div-block-2">
                  <div class="text-block-6"><strong>100</strong><br />KM/day</div>
                </div><img
                  src="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg"
                  loading="lazy" sizes="(max-width: 479px) 67vw, (max-width: 991px) 250px, 25vw"
                  srcset="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new-p-500.jpg 500w, https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg 745w"
                  alt="" class="image-2" />
              </div>
              <div class="uui-layout94_item-content">
                <h3 class="uui-heading-xxsmall">Share team inboxes</h3>
                <div class="uui-space-xxsmall"></div>
                <div class="uui-text-size-medium">Whether you have a team of 2 or 200, our shared team inboxes keep
                  everyone on the same page and in the loop.</div>
              </div><a href="#" class="uui-button w-inline-block">
                <div>Learn more</div>
              </a>
            </div>
            <div id="w-node-_36b55a00-fede-27bc-637b-9eccedb78746-7b1751b2" class="uui-layout94_item">
              <div class="image-wrapper">
                <div class="div-block-2">
                  <div class="text-block-6"><strong>100</strong><br />KM/day</div>
                </div><img
                  src="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg"
                  loading="lazy" sizes="(max-width: 479px) 67vw, (max-width: 991px) 250px, 25vw"
                  srcset="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new-p-500.jpg 500w, https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg 745w"
                  alt="" class="image-2" />
              </div>
              <div class="uui-layout94_item-content">
                <h3 class="uui-heading-xxsmall">Share team inboxes</h3>
                <div class="uui-space-xxsmall"></div>
                <div class="uui-text-size-medium">Whether you have a team of 2 or 200, our shared team inboxes keep
                  everyone on the same page and in the loop.</div>
              </div><a href="#" class="uui-button w-inline-block">
                <div>Learn more</div>
              </a>
            </div>
            <div id="w-node-a995fda0-9101-450f-33da-f3a5af5466a0-7b1751b2" class="uui-layout94_item">
              <div class="image-wrapper">
                <div class="div-block-2">
                  <div class="text-block-6"><strong>100</strong><br />KM/day</div>
                </div><img
                  src="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg"
                  loading="lazy" sizes="(max-width: 479px) 67vw, (max-width: 991px) 250px, 25vw"
                  srcset="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new-p-500.jpg 500w, https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg 745w"
                  alt="" class="image-2" />
              </div>
              <div class="uui-layout94_item-content">
                <h3 class="uui-heading-xxsmall">Share team inboxes</h3>
                <div class="uui-space-xxsmall"></div>
                <div class="uui-text-size-medium">Whether you have a team of 2 or 200, our shared team inboxes keep
                  everyone on the same page and in the loop.</div>
              </div><a href="#" class="uui-button w-inline-block">
                <div>Learn more</div>
              </a>
            </div>
            <div id="w-node-_15028d31-4c6c-488b-dc1f-1aa14b856a47-7b1751b2" class="uui-layout94_item">
              <div class="image-wrapper">
                <div class="div-block-2">
                  <div class="text-block-6"><strong>100</strong><br />KM/day</div>
                </div><img
                  src="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg"
                  loading="lazy" sizes="(max-width: 479px) 67vw, (max-width: 991px) 250px, 25vw"
                  srcset="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new-p-500.jpg 500w, https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg 745w"
                  alt="" class="image-2" />
              </div>
              <div class="uui-layout94_item-content">
                <h3 class="uui-heading-xxsmall">Share team inboxes</h3>
                <div class="uui-space-xxsmall"></div>
                <div class="uui-text-size-medium">Whether you have a team of 2 or 200, our shared team inboxes keep
                  everyone on the same page and in the loop.</div>
              </div><a href="#" class="uui-button w-inline-block">
                <div>Learn more</div>
              </a>
            </div>
            <div id="w-node-a74c7853-aaa6-a4b8-4d81-0fcb4eee2957-7b1751b2" class="uui-layout94_item">
              <div class="image-wrapper">
                <div class="div-block-2">
                  <div class="text-block-6"><strong>100</strong><br />KM/day</div>
                </div><img
                  src="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg"
                  loading="lazy" sizes="(max-width: 479px) 67vw, (max-width: 991px) 250px, 25vw"
                  srcset="https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new-p-500.jpg 500w, https://uploads-ssl.webflow.com/6486f5a71eb143ca7b1751ae/64870cec64b286f1d7f6f14b_performance-mobile-new.jpg 745w"
                  alt="" class="image-2" />
              </div>
              <div class="uui-layout94_item-content">
                <h3 class="uui-heading-xxsmall">Share team inboxes</h3>
                <div class="uui-space-xxsmall"></div>
                <div class="uui-text-size-medium">Whether you have a team of 2 or 200, our shared team inboxes keep
                  everyone on the same page and in the loop.</div>
              </div><a href="#" class="uui-button w-inline-block">
                <div>Learn more</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>