<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar-logo-center-container shadow-three w-nav">
    <div class="navbar-wrapper-three"><a href="#" class="navbar-brand-three w-nav-brand">
        <div class="div-block">
          <h1 class="heading">SINANOVIC</h1>
        </div>
      </a>
      <nav role="navigation" class="nav-menu-wrapper-three w-nav-menu">
        <div class="nav-menu-three">
          <ul role="list" class="nav-menu-block w-list-unstyled">
            <li><a href="#" class="nav-link">List of Cars</a></li>
            <li><a href="#" class="nav-link">Pricing</a></li>
            <li>
              <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
                <div class="nav-dropdown-toggle w-dropdown-toggle">
                  <div class="nav-dropdown-icon w-icon-dropdown-toggle">
                    <div>
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                  </div>
                  <div class="text-block">Resources</div>
                </div>
                <nav class="nav-dropdown-list shadow-three mobile-shadow-hide w-dropdown-list"><a href="#"
                    class="nav-dropdown-link w-dropdown-link">Resource Link 1</a><a href="#"
                    class="nav-dropdown-link w-dropdown-link">Resource Link 2</a><a href="#"
                    class="nav-dropdown-link w-dropdown-link">Resource Link 3</a></nav>
              </div>
            </li>
          </ul>
          <ul role="list" class="nav-menu-block w-list-unstyled">
            <li><a href="#" class="nav-link-accent">News</a></li>
            <li class="mobile-margin-top-10"><a href="#" class="button-primary w-button">find your car</a></li>
          </ul>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
