@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

mat-toolbar {
    background: #004a9f;
    color: white;
    animation-name: example;
    animation-duration: 1s;
}

.logo {
    font-family: Bungee;
    font-size: 30px;
    margin: 0 10px;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.navbar mat-icon {
    margin: 0px 25px;
}

mat-form-field {
    transform: translateY(10px);
}

.search-block input {
    background: #004a9f;
    color: white;
    margin: 0 20px;
    flex: 1;
    height: 30px;
    font-size: 22px;
    border: 0;
    outline: none;
}

.search-block input:focus {
    border-bottom: solid 2px white;
    outline: none;
}

.search-block input:not(:focus) {
    border-bottom: 1px solid gray;
}

mat-icon {
    cursor: pointer;
}

.title-field {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    transform: translateY(8px);
}

.date {
    font-weight: lighter;
    font-size: 12px;
    transform: translateY(-4pxpx);
}

.icons-field {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    right: 20px;
}

.icons-field mat-icon {
    font-size: 30px;
    margin: 0 25px;
}

@keyframes example {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}