/* You can add global styles to this file, and also import other style files */

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('src/assets/fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('src/assets/fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('src/assets/fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('src/assets/fonts/montserrat/Montserrat-Bold.ttf'); 

  }
    /* Montserrat-300 - latin */
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        src: url("src/assets/fonts/montserrat/Montserrat-Light.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url("src/assets/fonts/montserrat/Montserrat-Regular.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        src: url("src/assets/fonts/montserrat/Montserrat-Italic.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        src: url("src/assets/fonts/montserrat/Montserrat-Medium.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        src: url("src/assets/fonts/montserrat/Montserrat-SemiBold.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: url("src/assets/fonts/montserrat/Montserrat-Bold.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        src: url("src/assets/fonts/montserrat/Montserrat-BoldItalic.ttf");
        /* IE9 Compat Modes */ }
        
html,
body {
    color: initial;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
