.card {
    margin: 30px 0px;
    height: auto;
    position: relative;
    display: flex;
    word-wrap: normal;
    flex-direction: column;
    font-size: .875rem;
}

.card-stats .card-header.card-header-icon,
.card-stats .card-header.card-header-text {
    text-align: right;
}

.card .card-header- {
    margin: 0 15px;
    padding: 0;
    position: relative;
}

.card .card-header {
    border-bottom: none;
    background: 0 0;
    z-index: 3 !important;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card [class*=card-header-] .card-icon,
.card [class*=card-header-] .card-text {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}

.card .card-header-warning .card-icon,
.card .card-header-warning .card-text,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text),
.card.bg-warning,
.card.card-rotate.bg-warning .back,
.card.card-rotate.bg-warning .front {
    color: white;
}

.card-stats .card-header.card-header-icon i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}

.card-stats .card-header .card-category:not([class*=text-]) {
    color: #999;
    font-size: 14px;
}

.card-stats .card-header.card-header-icon .card-category,
.card-stats .card-header.card-header-icon .card-title,
.card-stats .card-header.card-header-text .card-category,
.card-stats .card-header.card-header-text .card-title {
    font-size: 18px;
    margin: 0;
}

.card-stats .card-header .card-icon+.card-category,
.card-stats .card-header .card-icon+.card-title {
    padding-top: 10px;
}

.card .card-header.card-header-icon .card-title,
.card .card-header.card-header-text .card-title {
    margin-top: 15px;
    color: #3c4858;
}

.card-stats .card-header+.card-footer {
    border-top: 1px solid #eee;
    margin-top: 14px;
}

.card .card-body+.card-footer,
.card .card-footer {
    padding: 10px 0 0;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
}

.card .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.card .card-body+.card-footer .stats,
.card .card-footer .stats {
    color: #999;
    font-size: 12px;
    line-height: 22px;
}

.card .card-footer .author,
.card .card-footer .stats {
    display: inline-flex;
}

.card .card-body+.card-footer .stats i,
.card .card-footer .stats i {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card .card-footer .stats i {
    margin-right: 12px;
    margin-left: 3px;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #9c27b0;
}
a:hover{
    color: black;
}
.ct-chart{
    width: 100%;
}