.card {
    margin: 30px 0px;
    height: auto;
    position: relative;
    display: flex;
    word-wrap: normal;
    flex-direction: column;
    font-size: .875rem;
}

.card-stats .card-header.card-header-icon,
.card-stats .card-header.card-header-text {
    text-align: right;
}

.card .card-header- {
    margin: 0 15px;
    padding: 0;
    position: relative;
}

.card .card-header {
    border-bottom: none;
    background: 0 0;
    z-index: 3 !important;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card [class*=card-header-] .card-icon,
.card [class*=card-header-] .card-text {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}
.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}
.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .back, .card.card-rotate.bg-primary .front {
    background: linear-gradient(60deg,#ab47bc,#8e24aa);
}
.card .card-header.card-header-tabs .nav-tabs-title {
    color: white;
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
}
.card .card-header.card-header-tabs .nav-tabs {
    background: 0 0;
    padding: 0;
}
.nav-tabs {
    border: 0;
    border-radius: 3px;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.nav-tabs .nav-item .nav-link.active {
    background-color: rgba(255,255,255,.2);
    transition: .3s background-color .2s;
}
.nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
    border: 0!important;
    color: #fff!important;
    font-weight: 500;
}
.nav-tabs .nav-item .nav-link {
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
}
.mat-button-focus-overlay, .mat-button-ripple.mat-ripple {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}

.card .card-header-warning .card-icon,
.card .card-header-warning .card-text,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text),
.card.bg-warning,
.card.card-rotate.bg-warning .back,
.card.card-rotate.bg-warning .front {
    color: white;
}

.card-stats .card-header.card-header-icon i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}

.card-stats .card-header .card-category:not([class*=text-]) {
    color: #999;
    font-size: 14px;
}

.card-stats .card-header.card-header-icon .card-category,
.card-stats .card-header.card-header-icon .card-title,
.card-stats .card-header.card-header-text .card-category,
.card-stats .card-header.card-header-text .card-title {
    font-size: 18px;
    margin: 0;
}

.card-stats .card-header .card-icon+.card-category,
.card-stats .card-header .card-icon+.card-title {
    padding-top: 10px;
}

.card .card-header.card-header-icon .card-title,
.card .card-header.card-header-text .card-title {
    margin-top: 15px;
    color: #3c4858;
}

.card-stats .card-header+.card-footer {
    border-top: 1px solid #eee;
    margin-top: 14px;
}

.card .card-body+.card-footer,
.card .card-footer {
    padding: 10px 0 0;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
}

.card .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.card .card-body+.card-footer .stats,
.card .card-footer .stats {
    color: #999;
    font-size: 12px;
    line-height: 22px;
}

.card .card-footer .author,
.card .card-footer .stats {
    display: inline-flex;
}

.card .card-body+.card-footer .stats i,
.card .card-footer .stats i {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card .card-footer .stats i {
    margin-right: 12px;
    margin-left: 3px;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #9c27b0;
}
a:hover{
    color: black;
}
mat-list-item .icons{
    display: inline;
    position: absolute;
    right: 2px;
}
mat-list-item .icons i{
    margin-left: 10px;
    cursor: pointer;
}
mat-list-item .icons i:hover{
    opacity: 0.5;
}
.card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .back, .card.card-rotate.bg-warning .front {
    background: linear-gradient(60deg,#ffa726,#fb8c00);
}
.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}
.card [class*=card-header-] {
    margin: 0 15px;
    position: relative;
}
