<div class="wrapper">
    <div class="grid-layout">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of smallGridLayout">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div [ngStyle]="{'background' : item.color}" class="card-icon">
                            <i [className]="item.icon"></i>
                        </div>
                        <p class="card-category">{{item.category}}</p>
                        <h3 class="card-title">
                            <strong style="font-size: 34px;">{{ item.title }}</strong>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i [className]="item.warningIcon"></i>
                            <a [routerLink]="item.link">{{item.linkText}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-12">
        

        <!--- TASK TAB -->
        <app-task-tab></app-task-tab>

    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Employees Stats</h4>
                <p class="card-category">New employees on 15th September, 2016</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Country</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dakota Rice</td>
                            <td>$36,738</td>
                            <td>Niger</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sage Rodriguez</td>
                            <td>$56,142</td>
                            <td>Netherlands</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Philip Chaney</td>
                            <td>$38,735</td>
                            <td>Korea, South</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>