<div class="wrapper">
    <div class="grid-layout">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of smallGridLayout">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div [ngStyle]="{'background' : item.color}" class="card-icon">
                            <i [className]="item.icon"></i>
                        </div>
                        <p class="card-category">{{item.category}}</p>
                        <h3 class="card-title">
                            <strong style="font-size: 34px;">{{ item.title }}</strong>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i [className]="item.warningIcon"></i>
                            <a [routerLink]="item.link">{{item.linkText}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Tasks:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a mat-button (click)="changeTasks(administrationTasks)"
                                    [ngClass]="activeTab === 'administration' ? 'active' : ''" class="nav-link"
                                    data-toggle="tab">
                                    <i class="fa-solid fa-file-circle-exclamation"></i> Administration
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button (click)="changeTasks(mechanicsTasks)"
                                    [ngClass]="activeTab === 'mechanics' ? 'active' : ''" class="nav-link"
                                    data-toggle="tab">
                                    <i class="fa-solid fa-wrench"></i> Mechanics
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button 
                                (click)="changeTasks(otherTasks)"
           [ngClass]="activeTab === 'other' ? 'active' : ''"
                                class="nav-link" 
                                data-toggle="tab">
                                    <i class="fa-light fa-face-eyes-xmarks"></i> Other
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-list>
                    <mat-list-item *ngFor="let task of tasksArray">
                        {{task}}
                        <div class="icons">
                            <i class="fa-solid fa-trash" style="color: red;"></i>
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Employees Stats</h4>
                <p class="card-category">New employees on 15th September, 2016</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Country</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dakota Rice</td>
                            <td>$36,738</td>
                            <td>Niger</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sage Rodriguez</td>
                            <td>$56,142</td>
                            <td>Netherlands</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Philip Chaney</td>
                            <td>$38,735</td>
                            <td>Korea, South</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>